# Flutter-specific
.dart_tool/
.packages
build/
pubspec.lock

# Android
/android/.gradle
/android/app/debug
/android/app/profile
/android/app/release

# iOS
/ios/Flutter/.symlinks
/ios/Pods
/ios/.generated

# Others
.idea/
.vscode/
*.iml
